.metadata/
.recommenders/
Servers/
.project
.settings/
.apt_generated/
.apt_generated_tests/
target/
*.class
.project
.classpath
.factorypath
.tern-project
.springBeans
logDir_IS_UNDEFINED/

*.iml
.idea/
node_modules/
dist/
.sonarlint/

bin/
.gradle/
webapp/